/*-- few styles here --*/
.navbar-default {
  margin-top: 30px;
  margin-bottom: 30px;
}
.navbar-static-top {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-fixed-top {
  margin-top: 0px;
  margin-bottom: 0px;
}
.jumbotron {
  margin-bottom: 1500px;
}

.navbar-default .navbar-nav > li > a {
    color: blue;
}
.navbar-default .navbar-nav > li > a:hover {
    color: red;
}
